* {
  margin: 0px;
  padding: 0px;
  outline: none;
}
body {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  vertical-align: middle;
  border: 0;
}

.container {
  padding: 0 200px;
}
.flex {
  display: flex;
}
.item_center {
  align-items: center;
}
.item_end {
  align-items: end;
}
.content_end {
  justify-content: end;
}
.content_center {
  justify-content: center;
}
.content_between {
  justify-content: space-between;
}
.text_center {
  text-align: center;
}
